
app-my-earnings-details {

  .amount-earned {
    font-size: 50px;
    font-weight: bold;
    margin: 20px 0;
  }

  .note {
    font-size: 14px;
  }

  .mat-grid-list {
    margin-top: 25px;
  }

  .mat-grid-tile {

    figure {
      flex-direction: column;
      justify-content: unset !important;
      align-items: unset !important;
    }

    .mat-grid-tile-header {
      height: 32px !important;
      padding: 0 12px !important;
      justify-content: center;
    }

    .current-amount {
      margin: 42px auto 6px auto;
      font-size: 19px;
    }

    .details {
      font-size: small;
    }
  }
}
