

<ng-container *ngIf="userSelection.hasDayOff()">
  <h1>You are off today!</h1>
  <div class="amount-earned">
    <span appCurrency [amount]="0" [symbol]=userSelection.currencySymbol></span>
  </div>
  <p class="note">{{userSelection.getRemainingTimeToStartWork()}}</p>
</ng-container>

<ng-container *ngIf="!userSelection.hasDayOff() && !userSelection.workTodayHasStarted()">

  <h1>Nothing yet!</h1>
  <div class="amount-earned">
    <span appCurrency [amount]="0" [symbol]=userSelection.currencySymbol></span>
  </div>
  <p class="note">{{userSelection.getRemainingTimeToStartWork()}}</p>

</ng-container>

<ng-container *ngIf="userSelection.isCurrentlyWorking()">

  <h1>Today you have already earned</h1>
  <div class="amount-earned">
    <span appCurrency [amount]=userSelection.currentDayAmount [symbol]=userSelection.currencySymbol></span>
  </div>
  <p class="note">{{userSelection.getRemainingTimeToFinishWork()}} more to go</p>

</ng-container>

<ng-container *ngIf="userSelection.workTodayHasFinished()">

  <h1>Today you earned</h1>
  <div class="amount-earned">
    <span appCurrency [amount]=userSelection.currentDayAmount [symbol]=userSelection.currencySymbol></span>
  </div>
  <p class="note">You are done for today!</p>

</ng-container>

<div class="tiles-container two-tiles-per-row">

  <div class="tile tile-{{index + 1}}" *ngFor="let tile of tiles; let index = index">

    <div class="header">
      {{tile.title}}
    </div>

    <div class="body">

      <ng-container *ngIf="tile.codeName === 'stopwatch'">
        <div class="current-amount">
          <span appCurrency [amount]=userSelection.stopwatchAmount [symbol]=userSelection.currencySymbol></span>
        </div>
        <div class="details">
          {{timeElapsedSinceCalculated}} elapsed
        </div>
      </ng-container>
      <ng-container *ngIf="tile.codeName !== 'stopwatch'">
        <div class="current-amount">
          <span appCurrency [amount]=userSelection[tile.amountProperty] [symbol]=userSelection.currencySymbol></span>
        </div>
        <div class="details">
          out of
          <span appCurrency [amount]=userSelection[tile.totalAmountProperty] [symbol]=userSelection.currencySymbol></span>
        </div>
      </ng-container>

    </div>

  </div>

</div>
