@let selection = userSelection();

@if (selection.hasDayOff()) {
  <h1 i18n="@@my-earnings-details.you-are-off">You are off today!</h1>
  <div class="amount-earned">
    <span appCurrency [amount]="0" [symbol]="selection.currencySymbol"></span>
  </div>
  <p class="note">{{ selection.getRemainingTimeToStartWork() }}</p>
}

@if (!selection.hasDayOff() && !selection.workTodayHasStarted()) {
  <h1 i18n="@@my-earnings-details.nothing-yet">Nothing yet!</h1>
  <div class="amount-earned">
    <span appCurrency [amount]="0" [symbol]="selection.currencySymbol"></span>
  </div>
  <p class="note">{{ selection.getRemainingTimeToStartWork() }}</p>
}

@if (selection.isCurrentlyWorking()) {
  <h1 i18n="@@my-earnings-details.you-have-already-earned">Today you have already earned</h1>
  <div class="amount-earned">
    <span
      appCurrency
      [amount]="selection.currentDayAmount"
      [symbol]="selection.currencySymbol"
    ></span>
  </div>
  <p class="note">
    {{ selection.getRemainingTimeToFinishWork() }}
    <span i18n="@@my-earnings-details.more-to-go">more to go</span>
  </p>
}

@if (selection.workTodayHasFinished()) {
  <h1 i18n="@@my-earnings-details.you-earned">Today you earned</h1>
  <div class="amount-earned">
    <span
      appCurrency
      [amount]="selection.currentDayAmount"
      [symbol]="selection.currencySymbol"
    ></span>
  </div>
  <p class="note" i18n="@@my-earnings-details.done-for-today">You are done for today!</p>
}

<div class="tiles-container two-tiles-per-row">
  @for (tile of tiles; track tile.codeName; let index = $index) {
    <div class="tile tile-{{ index + 1 }}">
      <div class="header">
        {{ tile.title }}
      </div>
      <div class="body">
        @if (tile.codeName === 'stopwatch') {
          <div class="current-amount">
            <span
              appCurrency
              [amount]="selection.stopwatchAmount"
              [symbol]="selection.currencySymbol"
            ></span>
          </div>
          <div class="details">
            {{ timeElapsedSinceCalculated() }}
            <span i18n="@@my-earnings-details.elapsed">elapsed</span>
          </div>
        }
        @if (tile.codeName !== 'stopwatch') {
          <div class="current-amount">
            <span
              appCurrency
              [amount]="selection[tile.amountProperty]"
              [symbol]="selection.currencySymbol"
            ></span>
          </div>
          <div class="details">
            <span i18n="@@my-earnings-details.out-of">out of</span>&nbsp;
            @if (tile.totalAmountProperty) {
              <span
                appCurrency
                [amount]="selection[tile.totalAmountProperty]"
                [symbol]="selection.currencySymbol"
              ></span>
            }
          </div>
        }
      </div>
    </div>
  }
</div>
