<h1 i18n="@@about.title">About</h1>

<p>
  <span i18n="@@about.first-paragraph-line-1">
    This app lets you calculate how much you have already earned today or during other periods.
  </span>
  <br /><br />
  <span i18n="@@about.first-paragraph-line-2">
    Use the compare tool to compare your earnings with other people or yourself should you earn a different amount.
  </span>
  <br /><br />
  <b i18n="@@about.first-paragraph-line-3">We do not store any data whatsoever.</b>
  <br>
  <span i18n="@@about.first-paragraph-line-4">Data is only stored in your device.</span>
</p>

<h2 i18n="@@about.calculations">Calculations</h2>

<p>
  <b i18n="@@about.second-paragraph-line-1">If your salary is per month or year:</b>
  <br /><br />
  <span i18n="@@about.second-paragraph-line-2">
    This means that you earn the same amount monthly and yearly regardless of the number of working days in the current
    month or year.
  </span>
  <br /><br />
  <span i18n="@@about.second-paragraph-line-3">
    However, you earn a different amount hourly, daily and weekly depending on how many working days there are in the
    current month or year.
  </span>
  <br /><br />
  <span i18n="@@about.second-paragraph-line-4">
    The fewer working days in a month, the more you are earning per hour, day and week during that month.
  </span>
</p>

<p>
  <b i18n="@@about.third-paragraph-line-1">If your salary is per hour, day or week:</b>
  <br /><br />
  <span i18n="@@about.third-paragraph-line-2">
    This means that you earn depending on the hours, days or weeks that you work.
  </span>
  <br /><br />
  <span i18n="@@about.third-paragraph-line-3">
    Therefore, the amount earned monthly and annually will vary depending on the number of working days in the current
    month or year.
  </span>
</p>


<div class="profile-link-container">
  <a href="{{creatorProfileLink}}" target="_blank" class="profile-link">
    by <b>Marcos Gimeno</b> with <span class="heart">❤</span>
    <span class="underline"></span>
  </a>
</div>