@import "variables";

.tiles-container {
    display: flex;
    flex-wrap: wrap;

    &.two-tiles-per-row {
        margin: 25px auto 0 auto;
        max-width: 450px;

        .tile {
            flex: 0 50%;
        }
    }

    &.one-tile-per-row {
        margin-top: 30px;

        .tile {
            flex: 0 100%;
        }

        h2 {
            margin: 0 auto 25px auto;

            .details-type-select {
                font-weight: bold;
                width: 150px;

                .mat-form-field-wrapper {
                    padding-bottom: 0 !important;

                    .mat-form-field-underline {
                        top: 41px;
                    }
                }
            }
        }
    }

    .tile {
        box-sizing: border-box;

        &.tile-1 {
            background-color: $tileColor1;
        }

        &.tile-2 {
            background-color: $tileColor2;
        }

        &.tile-3 {
            background-color: $tileColor3;
        }

        &.tile-4 {
            background-color: $tileColor4;
        }

        &.tile-5 {
            background-color: $tileColor5;
        }

        &.tile-6 {
            background-color: $tileColor6;
        }

        .header {
            color: white;
            font-size: 14px;
            padding: 7px 0;
            background: rgba(0, 0, 0, 0.38);
        }

        .body {
            padding: 12px 0;

            .current-amount {
                font-size: 25px;
                margin-bottom: 6px;
            }

            .details {
                font-size: 16px;
            }

            .multiple-persons-container {
                display: flex;
                flex-direction: column;
                padding: 0 15px;

                .person {
                    display: flex;
                    align-items: center;
                    margin-bottom: 5px;
                }

                .amount {
                    flex: 1;
                    text-align: right;
                    font-size: 22px;
                }
            }
        }
    }
}
