<h1 mat-dialog-title i18n="@@user-validation.title">Missing details</h1>
<mat-dialog-content class="content">
  @for (userSelection of data.userSelections; track userSelection.personNumber) {
    @if (!userSelection.canCalculate()) {
      @if (showName) {
        <div>
          <b>{{ getName(userSelection) }}</b>
        </div>
      }
      @if (!userSelection.hasName()) {
        <p i18n="@@user-validation.name">Type a name</p>
      }
      @if (!userSelection.hasRate()) {
        <p>
          {{ getValidationMessageForRate(userSelection) }}
        </p>
      }
      @if (!userSelection.currencySymbol) {
        <p i18n="@@user-validation.currency">Select a currency symbol</p>
      }
      @if (!userSelection.frequency) {
        <p i18n="@@user-validation.period">Select a period</p>
      }
      @if (!userSelection.isAtLeastOneDayOfTheWeekSelected()) {
        <p i18n="@@user-validation.at-least-one-day">Select at least one day of the week</p>
      }
      @if (!userSelection.startTime) {
        <p i18n="@@user-validation.from">Select a 'From' time</p>
      }
      @if (!userSelection.endTime) {
        <p i18n="@@user-validation.to">Select a 'To' time</p>
      }
      @if (
        userSelection.startTime &&
        userSelection.endTime &&
        !userSelection.areStartAndEndTimesValid()
      ) {
        <p i18n="@@user-validation.from-greater-than-to">
          'From' time must be lower than 'To' time
        </p>
      }
    }
  }

  @if (data.isCompareTool && data.userSelections.length < minNumberOfUserSelectionsRequired) {
    <p i18n="@@user-validation.at-least-add-one-more">Add at least one more person</p>
  }
</mat-dialog-content>
<mat-dialog-actions>
  <button
    mat-raised-button
    color="primary"
    (click)="onClose()"
    cdkFocusInitial
    i18n="@@user-validation.got-it"
  >
    Got it!
  </button>
</mat-dialog-actions>
