

<ng-container *ngIf="!userSelection.workHasStarted()">

  <h1>Nothing yet!</h1>
  <div class="amount-earned">{{userSelection.currentDayAmount | currency : userSelection.currencySymbol : 'symbol' : getCurrencyPipeDigitsInfo(userSelection.currentDayAmount) }}</div>
  <p>You start working in around {{userSelection.getRemainingTimeToStartWork()}}</p>

</ng-container>

<ng-container *ngIf="userSelection.isCurrentlyWorking()">

  <h1>Today you have already earned</h1>
  <div class="amount-earned">{{userSelection.currentDayAmount | currency : userSelection.currencySymbol : 'symbol' : getCurrencyPipeDigitsInfo(userSelection.currentDayAmount) }}</div>
  <p>
    around {{userSelection.getRemainingTimeToFinishWork()}} more to go
  </p>

</ng-container>

<ng-container *ngIf="userSelection.workHasFinished()">

  <h1>Today you earned</h1>
  <div class="amount-earned">{{userSelection.currentDayAmount | currency : userSelection.currencySymbol : 'symbol' : getCurrencyPipeDigitsInfo(userSelection.currentDayAmount) }}</div>
  <p>You are done for today!</p>

</ng-container>

<mat-grid-list cols="2" rowHeight="100px" gutterSize="0">
  <mat-grid-tile *ngFor="let tile of tiles" [colspan]="1" [rowspan]="1" [style.background]="tile.color">

    <mat-grid-tile-header>
      {{tile.title}}
    </mat-grid-tile-header>

    <div *ngIf="tile.codeName === 'today'">
      <div class="current-amount">
        {{userSelection.currentDayAmount | currency : userSelection.currencySymbol : 'symbol' : getCurrencyPipeDigitsInfo(userSelection.currentDayAmount) }}
      </div>
      <div class="total-amount">
        out of
        {{userSelection.totalDayAmount | currency : userSelection.currencySymbol : 'symbol' : getCurrencyPipeDigitsInfo(userSelection.totalDayAmount) }}
      </div>
    </div>
    <div *ngIf="tile.codeName === 'week'">
      <div class="current-amount">
        {{userSelection.currentWeekAmount | currency : userSelection.currencySymbol : 'symbol' : getCurrencyPipeDigitsInfo(userSelection.currentWeekAmount) }}
      </div>
      <div class="total-amount">
        out of
        {{userSelection.totalWeekAmount | currency : userSelection.currencySymbol : 'symbol' : getCurrencyPipeDigitsInfo(userSelection.totalWeekAmount) }}
      </div>
    </div>
    <div *ngIf="tile.codeName === 'month'">
      <div class="current-amount">
        {{userSelection.currentMonthAmount | currency : userSelection.currencySymbol : 'symbol' : getCurrencyPipeDigitsInfo(userSelection.currentMonthAmount) }}
      </div>
      <div class="total-amount">
        out of
        {{userSelection.totalMonthAmount | currency : userSelection.currencySymbol : 'symbol' : getCurrencyPipeDigitsInfo(userSelection.totalMonthAmount) }}
      </div>
    </div>
    <div *ngIf="tile.codeName === 'year'">
      <div class="current-amount">
        {{userSelection.currentYearAmount | currency : userSelection.currencySymbol : 'symbol' : getCurrencyPipeDigitsInfo(userSelection.currentYearAmount) }}
      </div>
      <div class="total-amount">
        out of
        {{userSelection.totalYearAmount | currency : userSelection.currencySymbol : 'symbol' : getCurrencyPipeDigitsInfo(userSelection.totalYearAmount) }}
      </div>
    </div>

  </mat-grid-tile>

</mat-grid-list>
