

<ng-container *ngIf="userSelection.isOff()">
  <h1>You are off today!</h1>
  <div class="amount-earned">
    <app-currency-display [amount]="0" [symbol]=userSelection.currencySymbol></app-currency-display>
  </div>
  <p class="note">You start working in around {{userSelection.getRemainingTimeToStartWork()}}</p>
</ng-container>

<ng-container *ngIf="!userSelection.isOff() && !userSelection.workHasStarted()">

  <h1>Nothing yet!</h1>
  <div class="amount-earned">
    <app-currency-display [amount]="0" [symbol]=userSelection.currencySymbol></app-currency-display>
  </div>
  <p class="note">You start working in around {{userSelection.getRemainingTimeToStartWork()}}</p>

</ng-container>

<ng-container *ngIf="userSelection.isCurrentlyWorking()">

  <h1>Today you have already earned</h1>
  <div class="amount-earned">
    <app-currency-display [amount]=userSelection.currentDayAmount [symbol]=userSelection.currencySymbol></app-currency-display>
  </div>
  <p class="note">around {{userSelection.getRemainingTimeToFinishWork()}} more to go</p>

</ng-container>

<ng-container *ngIf="userSelection.workHasFinished()">

  <h1>Today you earned</h1>
  <div class="amount-earned">
    <app-currency-display [amount]=userSelection.currentDayAmount [symbol]=userSelection.currencySymbol></app-currency-display>
  </div>
  <p class="note">You are done for today!</p>

</ng-container>

<mat-grid-list cols="2" rowHeight="100px" gutterSize="0">
  <mat-grid-tile *ngFor="let tile of tiles" [colspan]="1" [rowspan]="1" [style.background]="tile.color">

    <mat-grid-tile-header>
      {{tile.title}}
    </mat-grid-tile-header>

    <div *ngIf="tile.codeName === 'sinceclicked'">
      <div class="current-amount">
        <app-currency-display [amount]=userSelection.sinceClickedAmount [symbol]=userSelection.currencySymbol></app-currency-display>
      </div>
    </div>
    <div *ngIf="tile.codeName === 'hour'">
      <div class="current-amount">
        <app-currency-display [amount]=userSelection.currentHourAmount [symbol]=userSelection.currencySymbol></app-currency-display>
      </div>
      <div class="total-amount">
        out of
        <app-currency-display [amount]=userSelection.totalHourAmount [symbol]=userSelection.currencySymbol></app-currency-display>
      </div>
    </div>
    <div *ngIf="tile.codeName === 'today'">
      <div class="current-amount">
        <app-currency-display [amount]=userSelection.currentDayAmount [symbol]=userSelection.currencySymbol></app-currency-display>
      </div>
      <div class="total-amount">
        out of
        <app-currency-display [amount]=userSelection.totalDayAmount [symbol]=userSelection.currencySymbol></app-currency-display>
      </div>
    </div>
    <div *ngIf="tile.codeName === 'week'">
      <div class="current-amount">
        <app-currency-display [amount]=userSelection.currentWeekAmount [symbol]=userSelection.currencySymbol></app-currency-display>
      </div>
      <div class="total-amount">
        out of
        <app-currency-display [amount]=userSelection.totalWeekAmount [symbol]=userSelection.currencySymbol></app-currency-display>
      </div>
    </div>
    <div *ngIf="tile.codeName === 'month'">
      <div class="current-amount">
        <app-currency-display [amount]=userSelection.currentMonthAmount [symbol]=userSelection.currencySymbol></app-currency-display>
      </div>
      <div class="total-amount">
        out of
        <app-currency-display [amount]=userSelection.totalMonthAmount [symbol]=userSelection.currencySymbol></app-currency-display>
      </div>
    </div>
    <div *ngIf="tile.codeName === 'year'">
      <div class="current-amount">
        <app-currency-display [amount]=userSelection.currentYearAmount [symbol]=userSelection.currencySymbol></app-currency-display>
      </div>
      <div class="total-amount">
        out of
        <app-currency-display [amount]=userSelection.totalYearAmount [symbol]=userSelection.currencySymbol></app-currency-display>
      </div>
    </div>

  </mat-grid-tile>

</mat-grid-list>
