
.amount-earned {
  font-size: 50px;
  font-weight: bold;
  margin: 25px 0;
}

mat-grid-list {
  margin-top: 25px;
}

.mat-grid-tile {

  figure {
    flex-direction: column;
    justify-content: unset !important;
  }

  .mat-grid-tile-header {
    height: 32px !important;
    justify-content: center;
  }

  .current-amount {
    margin: 47px auto 6px auto;
  }

  .total-amount {
    font-size: small;
  }
}
