@use 'functions' as *;

$mobile-max: px-to-rem(639px);
$tablet-min: px-to-rem(640px);
$desktop-min: px-to-rem(800px);

@mixin mobile-only {
  @media (max-width: $mobile-max) {
    @content;
  }
}

@mixin tablet-up {
  @media (min-width: $tablet-min) {
    @content;
  }
}

@mixin desktop-up {
  @media (min-width: $desktop-min) {
    @content;
  }
}
