.chart-expected-select,
.chart-hours-select {
  font-weight: 700;

  .mdc-line-ripple {
    bottom: 0;
  }
}

.highlight-select {
  .mat-mdc-select-arrow {
    color: var(--primary-color-light) !important;
  }

  .mdc-line-ripple::after {
    border-bottom-color: var(--primary-color-light) !important;
    transform: scaleX(1);
  }
}
