:root {
  --primary-color: #673ab7;
  --primary-color-light: #9a67ea;
  --primary-color-lighter: #b98ff4;
  --primary-color-lightest: #d1c4e9;
  --header-height: 56px;
  --button-width: 140px;
  --max-content-width: 700px;
  --tile-color-1: lightblue;
  --tile-color-2: #71cdcd;
  --tile-color-3: lightyellow;
  --tile-color-4: lightgreen;
  --tile-color-5: lightpink;
  --tile-color-6: #ddbdf1;
}
