


  <div *ngIf="userSelections && userSelections.length && !showResults" class="text-center">

    <h1>Compare earnings with others</h1>

    <mat-tab-group [selectedIndex]="activeTabIndex">

      <mat-tab *ngFor="let userSelection of userSelections;" [label]="userSelection.name">

        <app-user-selection [userSelection]=userSelection [isCompareTool]=true></app-user-selection>

      </mat-tab>
    </mat-tab-group>

  </div>


  <div *ngIf="showResults" class="text-center">

    <app-compare-tool-details [userSelections]=userSelections></app-compare-tool-details>

  </div>


  <div class="buttons" [ngClass]="showResults ? 'm-t-30' : 'm-t-15'">

    <ng-container *ngIf="!showResults">
      <button mat-raised-button color="accent" [disabled]="!canAddMorePersons()" (click)="addPerson()"><mat-icon class="add-icon">person_add</mat-icon> Add Person</button>
      <button class="text-center" mat-raised-button color="primary" (click)="tryCalculate()">Calculate</button>
    </ng-container>

    <ng-container *ngIf="showResults">
      <button  mat-raised-button [routerLink]="['/compare']"><mat-icon>reply</mat-icon> back</button>
      <button  mat-raised-button (click)="openShareBottomSheet()"><mat-icon>share</mat-icon>Share this</button>
    </ng-container>

  </div>


