.tab-label {
  display: flex;
  align-items: center;

  .close-icon {
    font-size: 20px;
    width: 20px;
    height: 20px;
    padding: 0 10px;
    color: #bbb;
  }
}

.add-person-button {
  font-size: 13px;
}
