$containerWidth: 250px;
$smallFontSize: 12px;

.user-selection {
  /*width: $containerWidth;*/
  width:100%;
  margin: 20px auto 0 auto;
}

.rate-form-field {
  /*width: 210px;*/
  width: calc(100% - 40px);
}

.currency-form-field {
  width: 40px;
}

.full-width-form-field {
  /*width: $containerWidth;*/
  width: 100%;
}


.time-form-field {
  /*width: $containerWidth / 2;*/
  width: 50%;
}

.section-description {
  text-align: left;
  font-size: $smallFontSize;
}

.week-days {
  text-align: left;
  font-size: $smallFontSize;
  display: flex;
  justify-content: space-between;

  .empty-block {
    width: 34px;
  }

  .mat-checkbox-inner-container {
    margin-right: 5px;
  }
}

//Form fields bottom border;
.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: rgba(0,0,0,0.12);
}
