.tab-label {
  display: flex;
  align-items: center;

  .close-button {
    width: 40px;
    height: 35px;
    padding: 0 10px;
    color: #bbb;

    .close-icon {
      font-size: 20px;
      width: 20px;
      height: 20px;
    }
  }
}

.add-person-button {
  font-size: 13px;

  background-color: #f97034;
  color: white;

  .add-icon {
    color: white;
  }
}
