<form class="compare-tool" (submit)="$event.preventDefault(); tryCalculate()">
  @let selections = userSelections();
  @let showingResults = showResults();

  @if (selections.length && !showingResults) {
    <div class="text-center">
      <h1 i18n="@@compare-tool.title">Compare earnings with others</h1>
      <mat-tab-group [selectedIndex]="activeTabIndex()">
        @for (userSelection of selections; track userSelection.personNumber; let index = $index) {
          <mat-tab>
            <ng-template mat-tab-label>
              <section class="tab-label">
                <span class="title">{{ userSelection.name }}</span>
                @if (index > 0) {
                  <button
                    mat-icon-button
                    type="button"
                    class="close-button"
                    (click)="removePerson($event, index)"
                    aria-label="Remove person"
                    i18n-aria-label="@@compare-tool.remove-person"
                    matTooltip="Remove"
                    matTooltipPosition="above"
                    matTooltipClass="remove-tooltip"
                    i18n-matTooltip="@@compare-tool.remove"
                  >
                    <mat-icon class="close-icon">clear</mat-icon>
                  </button>
                }
              </section>
            </ng-template>
            <app-user-selection
              [userSelection]="userSelection"
              [isCompareTool]="true"
            ></app-user-selection>
          </mat-tab>
        }
      </mat-tab-group>
      <div class="buttons m-t-20">
        <button
          type="button"
          class="add-person-button text-center"
          mat-raised-button
          [disabled]="!canAddMorePersons()"
          (click)="addPerson()"
        >
          <mat-icon class="add-icon">person_add</mat-icon>&nbsp;<span
            i18n="@@compare-tool.add-person"
            >Add person</span
          >
        </button>
        <button type="submit" class="text-center" mat-raised-button color="primary" cdkFocusInitial>
          <mat-icon>calculate</mat-icon>&nbsp;<span i18n="@@compare-tool.calculate">Calculate</span>
        </button>
      </div>
    </div>
  }

  @if (showingResults) {
    <div class="text-center">
      <app-compare-tool-details [userSelections]="selections"></app-compare-tool-details>
      <div class="buttons m-t-35">
        <button type="button" mat-raised-button (click)="goBack()">
          <mat-icon>edit</mat-icon>&nbsp;<span i18n="@@compare-tool.back">Edit settings</span>
        </button>
        <button type="button" mat-raised-button (click)="shareCurrentUrl()">
          <mat-icon>share</mat-icon>&nbsp;<span i18n="@@compare-tool.share-this">Share this</span>
        </button>
      </div>
    </div>
  }
</form>
