<div class="main-container">
  @let largeScreen = alwaysShowSideNav();
  @let url = currentUrl();
  @let sideNavIsCollapsed = largeScreen && sideNavCollapsed();

  @if (!largeScreen) {
    <mat-toolbar color="primary" class="top-toolbar">
      <button
        mat-icon-button
        type="button"
        (click)="snav.toggle()"
        aria-label="Open navigation"
        i18n-aria-label="@@menu.open-navigation"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <a class="title" [routerLink]="['/']" i18n="@@menu.title">My earnings today</a>
      <span class="toolbar-spacer" aria-hidden="true"></span>
    </mat-toolbar>
  }

  <mat-sidenav-container
    class="sidenav-container"
    [class.has-top-bar]="!largeScreen"
    [class.is-collapsed]="sideNavIsCollapsed"
    [autosize]="largeScreen"
    [hasBackdrop]="!largeScreen"
  >
    <mat-sidenav
      #snav
      [fixedTopGap]="largeScreen ? 0 : 56"
      role="navigation"
      [mode]="largeScreen ? 'side' : 'over'"
      [opened]="largeScreen"
      [fixedInViewport]="true"
    >
      <mat-nav-list>
        @if (largeScreen) {
          <div class="sidenav-header">
            <a
              class="sidenav-title"
              [routerLink]="['/']"
              (click)="scrollToTop()"
              i18n="@@menu.title"
            >
              My earnings today
            </a>
          </div>
        }

        <a
          mat-list-item
          [routerLink]="['/']"
          (click)="scrollToTop(); !largeScreen && snav.toggle()"
          [class.active]="url === '/' || url.startsWith('/?')"
          aria-label="My earnings"
          i18n-aria-label="@@menu.my-earnings"
        >
          <mat-icon matListItemIcon class="nav-icon">payments</mat-icon>
          <span matListItemTitle class="nav-item-text" i18n="@@menu.my-earnings">
            My earnings
          </span>
        </a>
        <a
          mat-list-item
          [routerLink]="['/compare']"
          (click)="scrollToTop(); !largeScreen && snav.toggle()"
          [class.active]="url.startsWith('/compare')"
          aria-label="Compare"
          i18n-aria-label="@@menu.compare"
        >
          <mat-icon matListItemIcon class="nav-icon">compare_arrows</mat-icon>
          <span matListItemTitle class="nav-item-text" i18n="@@menu.compare">Compare</span>
        </a>
        <button
          mat-list-item
          type="button"
          (click)="openSelectLanguage(); !largeScreen && snav.toggle()"
          [class.grayscale-image-when-not-hover]="largeScreen"
          aria-label="Language"
          i18n-aria-label="@@menu.language"
        >
          <span matListItemIcon class="nav-icon language-icon">
            <img
              class="flag-image"
              [src]="'assets/images/flags/' + currentLanguageCode() + '.svg'"
              width="20"
              height="20"
              alt=""
            />
          </span>
          <span matListItemTitle class="nav-item-text" i18n="@@menu.language">Language</span>
        </button>
        <a
          mat-list-item
          [routerLink]="['/about']"
          (click)="scrollToTop(); !largeScreen && snav.toggle()"
          [class.active]="url.startsWith('/about')"
          aria-label="Help"
          i18n-aria-label="@@menu.help"
        >
          <mat-icon matListItemIcon class="nav-icon">help</mat-icon>
          <span matListItemTitle class="nav-item-text" i18n="@@menu.help">Help</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="router-outlet-container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

  @if (largeScreen) {
    <button
      mat-icon-button
      type="button"
      class="sidenav-toggle"
      [class.is-collapsed]="sideNavIsCollapsed"
      [attr.aria-label]="sideNavIsCollapsed ? expandNavigationLabel : collapseNavigationLabel"
      [attr.aria-expanded]="!sideNavIsCollapsed"
      [title]="sideNavIsCollapsed ? expandNavigationLabel : collapseNavigationLabel"
      (click)="toggleSideNav()"
    >
      <mat-icon>{{
        sideNavIsCollapsed ? 'keyboard_double_arrow_right' : 'keyboard_double_arrow_left'
      }}</mat-icon>
    </button>
  }
</div>
