<div class="main-container">

  <mat-toolbar color="primary">


    <button *ngIf="!alwaysShowSideNav" mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <a class="title" [routerLink]="['/']">My earnings today</a>

  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" [hasBackdrop]="!alwaysShowSideNav">
    <mat-sidenav #snav fixedTopGap="56" role="navigation" [mode]="(alwaysShowSideNav ? 'side' : 'over')"
      [opened]=alwaysShowSideNav fixedInViewport="true">
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/']" (click)="window.scrollTo(0, 0); !alwaysShowSideNav && snav.toggle();"
          [class.active]="currentUrl === '/' || doesUrlStartWith('/?')">
          My earnings</a>
        <a mat-list-item [routerLink]="['/compare']"
          (click)="window.scrollTo(0, 0); !alwaysShowSideNav && snav.toggle();"
          [class.active]="doesUrlStartWith('/compare')">
          Compare</a>
        <a mat-list-item [routerLink]="['/about']" (click)="window.scrollTo(0, 0); !alwaysShowSideNav && snav.toggle();"
          [class.active]="doesUrlStartWith('/about')">
          About</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>

      <div class="router-outlet-container">
        <router-outlet></router-outlet>
      </div>

    </mat-sidenav-content>

  </mat-sidenav-container>
</div>