<div class="share-container">
  @if (canShare) {
    <p><b i18n="@@share.share-on">Share on</b></p>
    <button type="button" mat-flat-button color="primary" (click)="share()">
      <span i18n="@@share.share-on">Share on</span>
    </button>
  }

  @if (canCopyLink) {
    <p><b i18n="@@share.or-copy-link">Or copy and share the link</b></p>
    <div class="copy-link-container">
      <button
        mat-flat-button
        type="button"
        color="primary"
        [class.link-copied]="isLinkCopiedToClipboard()"
        (click)="copyLink()"
      >
        @if (!isLinkCopiedToClipboard()) {
          <span i18n="@@share.copy-link">Copy link</span>
        }
        @if (isLinkCopiedToClipboard()) {
          <span i18n="@@share.copied">Copied!</span>
        }
      </button>
    </div>
  }
</div>
