app-compare-tool-details {

  .today-earned-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:last-of-type) {
      margin-bottom: 10px;
    }

    .name {
      font-size: 18px;
    }

    .amount {
      font-size: 25px;
    }
  }

  .mat-grid-list {
    margin-top: 25px;
  }

  .mat-grid-tile {

    figure {
      justify-content: unset !important;
      align-items: unset !important;
    }

    .mat-grid-tile-header {
      height: 32px !important;
      padding: 0 12px !important;
      justify-content: center;
    }

    .current-amount {
      margin: 42px auto 6px auto;
      font-size: 19px;
    }

    .details {
      font-size: small;
    }
  }
}
