<div class="text-center m-t-30 m-b-30">

  <h1 i18n="@@select-language.select">Select language</h1>

  <div class="buttons">

    <button type="button" class="big-button" mat-raised-button (click)="selectLanguage('en')">

      <div class="button-with-right-icon">
        <div>English</div>
        <img src="/assets/images/flag-en.png" alt="uk-flag" />
      </div>

    </button>

    <button type="button" class="big-button" mat-raised-button (click)="selectLanguage('es')">

      <div class="button-with-right-icon">
        <div>Español</div>
        <img src="/assets/images/flag-es.png" alt="spain-flag" />
      </div>
    </button>

  </div>
</div>