<h1 i18n="@@compare-tool-details.title">Today you have already earned</h1>
@let selections = userSelections();
@let detailsTypeAlreadyEarned = isDetailsTypeAlreadyEarned();

<div class="today-earned-container">
  @for (userSelection of selections; track userSelection.personNumber) {
    <div class="person">
      <div class="name">{{ userSelection.name }}</div>
      <div class="amount">
        <span
          appCurrency
          [amount]="userSelection.currentDayAmount"
          [symbol]="userSelection.currencySymbol"
          [forceShowDecimalPlaces]="true"
        ></span>
      </div>
    </div>
  }
</div>

<div class="view-toggle text-center">
  <button
    mat-flat-button
    [color]="isShowCharts() ? 'primary' : null"
    [attr.aria-pressed]="isShowCharts()"
    (click)="showCharts()"
  >
    <mat-icon>bar_chart</mat-icon>
    <span i18n="@@compare-tool-details.charts">Charts</span>
  </button>
  <button
    mat-flat-button
    [color]="!isShowCharts() ? 'primary' : null"
    [attr.aria-pressed]="!isShowCharts()"
    (click)="showDetails()"
  >
    <mat-icon>list_alt</mat-icon>
    <span i18n="@@compare-tool-details.details">Details</span>
  </button>
</div>

@if (isShowCharts()) {
  <div class="charts-container">
    <h2>
      <span i18n="@@compare-tool-details.total-expected">Total expected</span
      ><mat-form-field class="chart-expected-select highlight-select">
        <mat-select
          panelClass="highlight-select-panel"
          [(ngModel)]="chartSelectedExpectedPeriod"
          [ngModelOptions]="{ standalone: true }"
          (ngModelChange)="onChartExpectedPeriodChanged()"
        >
          @for (period of chartAllExpectedPeriods; track period) {
            <mat-option [value]="period">{{ period.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </h2>
    <div class="chart-container">
      <canvas
        #compareEarningsChart
        role="img"
        aria-label="Total expected chart"
        i18n-aria-label="@@compare-tool-details.total-expected-chart"
      ></canvas>
    </div>
    <h2>
      <span i18n="@@compare-tool-details.hours-worked-per">Hours worked per</span
      ><mat-form-field class="chart-hours-select highlight-select">
        <mat-select
          panelClass="highlight-select-panel"
          [(ngModel)]="chartSelectedHoursPeriod"
          [ngModelOptions]="{ standalone: true }"
          (ngModelChange)="onChartHoursPeriodChanged()"
        >
          @for (period of chartAllHoursPeriods; track period) {
            <mat-option [value]="period">{{ period.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </h2>
    <div class="chart-container">
      <canvas
        #compareHoursWorkedChart
        role="img"
        aria-label="Hours worked chart"
        i18n-aria-label="@@compare-tool-details.hours-worked-chart"
      ></canvas>
    </div>
  </div>
}

@if (!isShowCharts()) {
  <div class="tiles-container one-tile-per-row">
    <h2>
      <mat-form-field class="details-type-select highlight-select">
        <mat-select
          panelClass="highlight-select-panel"
          [ngModel]="detailsSelectedType()"
          [ngModelOptions]="{ standalone: true }"
          (ngModelChange)="detailsSelectedType.set($event)"
        >
          @for (type of detailsAllTypes; track type) {
            <mat-option [value]="type">
              {{ type.name }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </h2>
    @for (tile of visibleTiles(); track tile.codeName; let index = $index) {
      <div class="tile tile-{{ index + (detailsTypeAlreadyEarned ? 1 : 2) }}">
        <div class="header">
          {{ tile.title }}
          @if (index === 0 && detailsTypeAlreadyEarned) {
            <span> ({{ timeElapsedSinceCalculated() }})</span>
          }
        </div>
        <div class="body">
          <div class="multiple-persons-container">
            @for (userSelection of selections; track userSelection.personNumber) {
              <div class="person">
                <span class="name">
                  {{ userSelection.name }}
                </span>
                <span class="amount">
                  @if (detailsTypeAlreadyEarned) {
                    <span
                      appCurrency
                      [amount]="userSelection[tile.amountProperty]"
                      [symbol]="userSelection.currencySymbol"
                      [forceShowDecimalPlaces]="true"
                    ></span>
                  }
                  @if (!detailsTypeAlreadyEarned && tile.totalAmountProperty) {
                    <span
                      appCurrency
                      [amount]="userSelection[tile.totalAmountProperty]"
                      [symbol]="userSelection.currencySymbol"
                      [forceShowDecimalPlaces]="true"
                    ></span>
                  }
                </span>
              </div>
            }
          </div>
        </div>
      </div>
    }
  </div>
}
