/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat:300');
@import 'variables';
@import 'space-helpers';

html, body {
  margin: 0;
  background-color: #fafafa;
}

* {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  margin-bottom: $h1MarginBottom;
  font-size: $h1FontSize;
}

//This is for the arrows not to appear on inputs of type number
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

//Form fields bottom border;
.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: rgba(0,0,0,0.12);
}

.mat-checkbox-layout .mat-checkbox-inner-container {
  margin-right: 5px;
}

.mat-form-field .mat-form-field-label{
  color: $primaryColor;
}

input[type=number] {
  -moz-appearance: textfield; /* Firefox */
}

.text-center {
  text-align: center;
}

.mat-select-arrow {
  color: rgba(0,0,0,0.22);
}

.mat-tab-label {
  height: 35px !important;
  min-width: 120px !important;
  padding: 0 6px 0 16px !important;

  &:first-of-type {
    padding: 0 16px !important;
  }
}

.clickable{
  cursor:pointer;
}

.mat-dialog-actions {
  justify-content: center;
  margin-top: 10px;
}


.buttons {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;



  button {
    width: $buttonWidth;
    text-align: left;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &.text-center {
      text-align: center;
    }

    .mat-icon {
      margin-right: 5px;
      color: #ccc;

      &.add-icon {
        color: #888;
      }
    }
  }
}
