@import 'variables';

.home-container {

  h1 {
    margin-bottom: $h1MarginBottom;
    font-size: $h1FontSize;
  }

  .amount-earned {
    font-size: 45px;
    font-weight: bold;
    margin: 45px 0;
  }

  
}

