

<div class="home-container">


  <div *ngIf="userSelection && !showResults" class="text-center">

    <h1>Let's see how much you've already earned today</h1>

    <app-user-selection [userSelection]=userSelection [isComparingTool]=false></app-user-selection>

  </div>


  <div *ngIf="showResults" class="text-center">

    <div *ngIf="!userSelection.workHasStarted()">

      <h1>Nothing yet!</h1>
      <div class="amount-earned">{{userSelection.currentAmount | currency : userSelection.currencySymbol : 'symbol' : getCurrencyPipeDigitsInfo(userSelection.currentAmount) }}</div>
      <p>You start working in around {{userSelection.getRemainingTimeToStartWork()}}</p>

    </div>

    <div *ngIf="userSelection.workHasStarted() && !userSelection.workHasFinished()">

      <h1>You already earned</h1>
      <div class="amount-earned">{{userSelection.currentAmount | currency : userSelection.currencySymbol : 'symbol' : getCurrencyPipeDigitsInfo(userSelection.currentAmount) }}</div>
      <p>
        This number is going up!
        <br /><br />
        around {{userSelection.getRemainingTimeToFinishWork()}} more to go
      </p>

    </div>

    <div *ngIf="userSelection.workHasFinished()">

      <h1>Today you earned</h1>
      <div class="amount-earned">{{userSelection.currentAmount | currency : userSelection.currencySymbol : 'symbol' : getCurrencyPipeDigitsInfo(userSelection.currentAmount) }}</div>
      <p>You are done for today!</p>

    </div>

  </div>


  <div class="buttons">

    <div *ngIf="!showResults">
      <button type="submit" class="text-center" mat-raised-button color="primary" (click)="calculate()" [disabled]="!userSelection.canCalculate()">Calculate</button>
      <br /><br />
      <button mat-button (click)="openShareBottomSheet()"><mat-icon>share</mat-icon>Share this</button>
    </div>

    <div *ngIf="showResults">
      <button mat-raised-button [routerLink]="['/']"><mat-icon>reply</mat-icon> back</button>
      <br /><br />
      <button mat-raised-button (click)="openShareBottomSheet()"><mat-icon>share</mat-icon>Share this</button>
    </div>

  </div>

</div>
