@import 'variables';

.home-container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - #{$headerHeight + 2*($matSidenavContentVerticalPadding)}); // We substract the header and the top and bottom padding.
  .home-footer {
    margin: auto auto 0 auto;

    button {
      width: 130px;
      text-align: left;
    }
  }

  h1 {
    margin-bottom: 20px;
    font-size: 19px;
  }

  .rate-form-field {
    width: 210px;
  }

  .currency-form-field {
    width: 40px;
  }

  .rate-frequency-form-field {
    width: 250px;
  }


  .time-form-field {
    width: 125px;
  }

  .working-hours-text {
    text-align: left;
    font-size: 12px;
    margin: 15px auto 30px auto;
    width: 250px;
  }

  .amount-earned {
    font-size: 40px;
    font-weight: bold;
    margin: 45px 0;
  }
  //Form fields bottom border;
  .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: rgba(0,0,0,0.12);
  }

  .mat-select-arrow {
    color: rgba(0,0,0,0.22);
  }

  .mat-icon {
    color: #ccc;
    margin-right: 5px;
  }
}

