<div *ngIf="!showResults">

  <h1>Let's see how much you've already earned today</h1>

  <mat-form-field class="rate-form-field">
    <input type="number" min="1" matInput placeholder="What is your daily rate?" [(ngModel)]="dailyRate" autofocus>
  </mat-form-field>

  <mat-form-field class="currency-form-field">
    <mat-select [(ngModel)]="currencySymbol">
      <mat-option *ngFor="let symbol of currencySymbols" [value]="symbol">
        {{symbol}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <p class="working-hours-text">and your working hours are</p>

  <mat-form-field class="time-form-field">
    <input type="time" matInput placeholder="Start time" [(ngModel)]="startTime">
  </mat-form-field>
  <mat-form-field class="time-form-field">
    <input type="time" matInput placeholder="End time" [(ngModel)]="endTime">
  </mat-form-field>

  <br /><br /><br />

  <button mat-raised-button color="primary" (click)="calculate()" [disabled]="!canCalculate()">Calculate</button>

</div>



<div *ngIf="showResults">

  <h1>You have already earned</h1>

  <span class="amount-earned">{{currentAmount | currency : currencySymbol : 'symbol' : '1.2' }}</span>

  <p *ngIf="!workHasStarted()">You start working in {{getRemainingTimeToStartWork()}}</p>

  <p *ngIf="workHasStarted() && !workFinished()">You are at work :( {{getRemainingTimeToFinishWork()}} more to go.</p>

  <p *ngIf="workFinished()">You are done for today! Enjoy!</p>

  <p>
    <button mat-button (click)="bookmarkWebsite()">⭐ Bookmark this website</button>
  </p>

</div>
