<div class="user-selection">
  @let selection = userSelection();

  @if (showName()) {
    <mat-form-field class="full-width-form-field">
      <input
        type="text"
        maxlength="10"
        matInput
        [placeholder]="namePlaceholder()"
        [ngModel]="selection.name"
        (ngModelChange)="selection.name = $event"
        [ngModelOptions]="{ standalone: true }"
        autocomplete="off"
      />
    </mat-form-field>
  }

  <mat-form-field class="rate-form-field">
    <input
      type="number"
      inputmode="decimal"
      min="1"
      matInput
      [placeholder]="ratePlaceholder()"
      [ngModel]="selection.rate"
      (ngModelChange)="selection.rate = $event"
      [ngModelOptions]="{ standalone: true }"
      autocomplete="off"
    />
  </mat-form-field>

  <mat-form-field class="currency-form-field">
    <mat-select
      [ngModel]="selection.currencySymbol"
      (ngModelChange)="selection.currencySymbol = $event"
      [ngModelOptions]="{ standalone: true }"
    >
      @for (symbol of allCurrencySymbols; track symbol) {
        <mat-option [value]="symbol">
          {{ symbol }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <br />

  <mat-form-field class="frequency-form-field full-width-form-field">
    <mat-select
      [ngModel]="selection.frequency"
      (ngModelChange)="selection.frequency = $event"
      [ngModelOptions]="{ standalone: true }"
    >
      @for (frequency of allFrequencies; track frequency) {
        <mat-option [value]="frequency">
          {{ frequency.name }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <p class="section-description">{{ workingWeekText() }}</p>

  <section class="week-days">
    <mat-checkbox
      [ngModel]="selection.weekWorkingDays[1]"
      (ngModelChange)="selection.weekWorkingDays[1] = $event"
      [ngModelOptions]="{ standalone: true }"
    >
      <span class="show-on-small-screen" i18n="@@user-selection.mon">Mon</span>
      <span class="show-on-big-screen" i18n="@@Monday">Monday</span>
    </mat-checkbox>
    <mat-checkbox
      [ngModel]="selection.weekWorkingDays[2]"
      (ngModelChange)="selection.weekWorkingDays[2] = $event"
      [ngModelOptions]="{ standalone: true }"
    >
      <span class="show-on-small-screen" i18n="@@user-selection.tue">Tue</span>
      <span class="show-on-big-screen" i18n="@@Tuesday">Tuesday</span>
    </mat-checkbox>
    <mat-checkbox
      [ngModel]="selection.weekWorkingDays[3]"
      (ngModelChange)="selection.weekWorkingDays[3] = $event"
      [ngModelOptions]="{ standalone: true }"
    >
      <span class="show-on-small-screen" i18n="@@user-selection.wed">Wed</span>
      <span class="show-on-big-screen" i18n="@@Wednesday">Wednesday</span>
    </mat-checkbox>
    <mat-checkbox
      [ngModel]="selection.weekWorkingDays[4]"
      (ngModelChange)="selection.weekWorkingDays[4] = $event"
      [ngModelOptions]="{ standalone: true }"
    >
      <span class="show-on-small-screen" i18n="@@user-selection.thu">Thu</span>
      <span class="show-on-big-screen" i18n="@@Thursday">Thursday</span>
    </mat-checkbox>
    <mat-checkbox
      [ngModel]="selection.weekWorkingDays[5]"
      (ngModelChange)="selection.weekWorkingDays[5] = $event"
      [ngModelOptions]="{ standalone: true }"
    >
      <span class="show-on-small-screen" i18n="@@user-selection.fri">Fri</span>
      <span class="show-on-big-screen" i18n="@@Friday">Friday</span>
    </mat-checkbox>
  </section>
  <section class="week-days">
    <mat-checkbox
      [ngModel]="selection.weekWorkingDays[6]"
      (ngModelChange)="selection.weekWorkingDays[6] = $event"
      [ngModelOptions]="{ standalone: true }"
    >
      <span class="show-on-small-screen" i18n="@@user-selection.sat">Sat</span>
      <span class="show-on-big-screen" i18n="@@Saturday">Saturday</span>
    </mat-checkbox>
    <mat-checkbox
      [ngModel]="selection.weekWorkingDays[0]"
      (ngModelChange)="selection.weekWorkingDays[0] = $event"
      [ngModelOptions]="{ standalone: true }"
    >
      <span class="show-on-small-screen" i18n="@@user-selection.sun">Sun</span>
      <span class="show-on-big-screen" i18n="@@Sunday">Sunday</span>
    </mat-checkbox>
    <span class="empty-block"></span>
    <span class="empty-block"></span>
    <span class="empty-block"></span>
  </section>

  <br />

  <mat-form-field class="time-form-field">
    <input
      type="time"
      matInput
      [placeholder]="fromPlaceholder"
      [ngModel]="selection.startTime"
      (ngModelChange)="selection.startTime = $event"
      [ngModelOptions]="{ standalone: true }"
    />
  </mat-form-field>
  <mat-form-field class="time-form-field">
    <input
      type="time"
      matInput
      [placeholder]="toPlaceholder"
      [ngModel]="selection.endTime"
      (ngModelChange)="selection.endTime = $event"
      [ngModelOptions]="{ standalone: true }"
    />
  </mat-form-field>
</div>
